body {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  line-height: 1.25;
  color: #434343;
}

.background {
  top: 0;
  left: 0;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background-image:
    linear-gradient( rgba(35,201,255,.3), rgba(35,255,0,.3) ),
    url("background/triangular.png"); /* From www.toptal.com/designers/subtlepatterns/ */
}

.container {
  max-width: 44em;
  margin: auto;
  padding: 1em 1em 1em;
  background-image: linear-gradient( rgba(255,255,255,.5), rgba(255,255,255,.5) );
  border-radius: 25px
}
  
/* Header */
.header {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__name {
  /*margin-top: 0.4em;*/
  /*margin-bottom: 0.2em;*/
  /*font-size: 32px;*/
}
.header__contact {
  text-align: right;
  font-size: 0.9em;
  padding: 1em;
  /*border-style: solid;*/
  /*border-radius: 25px;*/
  list-style: none;
}

/* Occupation Item (used in Education/Work Experience) */
.occ-item {
  display: list-item;
  list-style-type: disc;
  margin-left: 1.5em;
  position: relative;
}
.occ-item__header {}
.occ-item__title {}
.occ-item__company { display: inline-block; font-style: italic; }
.occ-item__company::after { }
.occ-item__date { float: none; }
.occ-item__location { display: none; }

.section {
  margin-bottom: 1.5em;
}
.section__title {
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 0.4em;
}
.section-ul {
  margin-top: 0.5em;
  padding-left: 1.5em;
  /*margin-bottom: 0;*/
  list-style-type: circle;
}

/* For web and PDF exclusive content */
.web-excl {
  /*display: none;*/
}
.web-excl-alt {
  display: none;
}

@media print {
  body {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    line-height: 1.1;
    font-size: 0.9rem;
    color: #434343;
  }
  
  .web-excl {
    display: none;
  }
  .web-excl-alt {
    display: initial;
  }
}


@media screen and (min-device-width: 768px) {
  .header__name {
    margin-top: 1.2em;
  }
  .container {
    padding: 1em 3em 1em;
  }
}

@media screen, print and (min-device-width: 768px) {
  .occ-item__date {
    position: absolute;
    right: 0;
    top: 0;
  }
}