.resume-section {
  h2.title {
    margin-bottom: 0.5rem;
  }

}

.resume-section {

  .box > .content > .columns > .column {
    padding: 2.5rem 1.75rem;
    //border-bottom: 1px solid $border-light;
    border-right: 0px solid $border-light;
  }

  .box > .content >.columns > .column:last-child {
    border-bottom: none;
    border-right: none;
  }

  .no-border-right {
    border-right: none !important;
  }

  @media (min-width: $tablet) {
     .box > .content > .columns > .column {
      border-bottom: 0px solid $border-light;
      border-right: 1px solid $border-light;
      padding: 2.75rem 2rem;
    }

   .own-row {
      border-top: 1px solid $border-light;
      margin-top: 0.5em;
      width: 100%;
      flex: none;
    }
  }
}