.skill-list-col-2 {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.skills figure {
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin: 0 !important;
  padding: 0.25rem;
  max-width: 4.5rem;
}